@font-face {
  font-family: 'IRANYekanX VF';
  src: url('/fonts/IRANYekanXVF.woff') format('woff-variations');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --light-bg: #f3fafe;
  --dark-bg: #151d32;
  --bg-color-1: #292f45;
  --text-color-1: #3d4852;
  --text-color-2: #f3f4f7;
  --box-shadow-1: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
